.add-post-card-wrapper:hover {
    transition: box-shadow 0.3s, border-color 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;

    .add-post-header-tabs-wrapper {
        padding: 8px 5px;
        margin-bottom: 10px;

        .add-post-header-tabs {
            cursor: pointer;
            padding: 5px 8px;
            border-bottom: 3px solid @primary-color;
        }
    }
}